@side-padding: 0.6em;
@select-transition: background-color 0.2s ease;

.contextual-menu-header {
  padding:0.2em 0;
  .mailvelope-logo {
    float: left;
    width: 100px;
    height: 27px;
    background: 2px 5px no-repeat url(../img/maivelope-logo.svg);
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-right {
    float: right;
    padding: 7px @side-padding 5px 0;
    font-size: 0.9em;

    a {
      color: @grey-dark;
    }
  }
}

ul.contextual-menu {
  padding:0;
  margin:0;

  li {
    list-style-type: none;
    margin: 0;

    &.item-big {
      a {
        padding: 1.4em @side-padding;

        p {
          float: left;
          width:80%;
        }
        i.fa {
          float: left;
          width: 20%;
          font-size: 2.5em;
          color: @grey-dark;
        }
      }
    }
    
    a {
      padding: 0.72em @side-padding;
      border-top: 1px solid @grey-selected;
      display: block;
      color: @grey-dark;
      transition: @select-transition;

      p {
        padding:0 0.5em 0 0;
        margin:0;
        font-size: 0.9em;
      }

      &:hover {
        color: @grey-darker;
        background-color: @grey-light;
        text-decoration: none;
      }
    }
  }
}

div.footer,
div.header {
  a {
    border-top: 1px solid @grey-selected;
    background-color: @grey-light;
    display: block;
    padding:0.6em @side-padding;
    text-align: center;
    font-size: 0.9em;
    color: black;
    transition: @select-transition;

    &:hover {
      background-color: @grey-selected;
      text-decoration: none;
    }
  }
}